<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <section class="container" layout:fragment="content">
    
      <div class="container col-md-3 mt-5">
        

        <form  method="post" th:action="@{/login}">
          <div class="form-group">
       <label for="username"> <i class="fa fa-user" aria-hidden="true"></i>username</label>
    <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="form-group mt-3">
       <label for="username">password</label>
    <input type="text" name="password" id="password" class="form-control">
    </div>

    <button class="btn btn-primary mt-4">login</button>
   
        </form>
    


  </div>

    

    
  </section>
  


</body>
</html>